# ignore everything
*
# execpt
!.gitignore

# .config
!.config/.scripts/*
!.config/btop/*
!.config/glow/*
!.config/helix/*
!.config/hypr/*
!.config/kanata/*
!.config/kitty/*
!.config/ranger/*
!.config/rofi/*
!.config/waybar/*
!.config/yazi/*

# nixos folder
!nixos/*
