# ignore everything
.backups
.cache
.cargo
.config
.git
.gnupg
.icons
.java
.local
.mono
.mozilla
.nix-defexpr
.npm
.pki
.ssh
.steam
.wine
coding
Downloads
downloads
obsidian
personal
screenshots
secondary_drive
usb
.bashrc
.bash_history
.gitconfig
.gtkrc-2.0
.nix-profile
.nvidia-settings-rc
.pulse-cookie
.steampath
.steampid
pc


# *
# execpt
!.gitignore

# .config
!.config/.scripts/*
!.config/glow/*
!.config/helix/*
!.config/hypr/*
!.config/kanata/*
!.config/kitty/*
!.config/rofi/*
!.config/waybar/*
!.config/yazi/*

# nixos folder
!nixos
nixos/result

!coding/rust/CompactManager/*
