# ignore everything
.backups
.cache
.cargo
.git
.gnupg
.icons
.local
.mono
.mozilla
.nix-defexpr
.npm
.pki
.ssh
.steam
.wine
Downloads
downloads
obsidian
personal
screenshots
secondary_drive
usb
.bashrc
.bash_history
.gitconfig
.nvidia-settings-rc
.pulse-cookie
.steampath
.steampid
pc


*
# execpt
!.gitignore

# .config
!.config/.scripts/*
!.config/glow/*
!.config/helix/*
!.config/hypr/*
!.config/kanata/*
!.config/kitty/*
!.config/rofi/*
!.config/waybar/*
!.config/yazi/*

# nixos folder
!nixos

!coding/rust/CompactManager/*
