[mgr]
sort_dir_first = true
show_hidden = true
show_symlink = true

[opener]
edit = [
    # { run = '${EDITOR:-vi} "$@"', desc = "$EDITOR", block = true, for = "unix" },
    { run = '$EDITOR "$@"', desc = "$Editor", block = true },
]
open = [
    { run = 'xdg-open "$1"', desc = "Open" },
]
reveal = [
    { run = 'xdg-open "$(dirname "$1")"', desc = "Reveal" },
    { run = '''exiftool "$1"; echo "Press enter to exit"; read _''', block = true, desc = "Show EXIF" },
]
extract = [
    { run = 'ya pub extract --list "$@"', desc = "Extract here" },
]
play = [
    { run = 'mpv --force-window "$@"', orphan = true },
]

[open]
prepend_rules = [
    # Folder
    { name = "*/", use = ["edit", "open", "reveal"] },
    # Text
    { mime = "text/*", use = ["edit", "reveal"] },
    # Image
    { mime = "image/*", use = ["open", "reveal"] },
    # Media
    { mime = "{audio,video}/*", use = ["play", "reveal"] },
    # Archive
    { mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", use = ["extract", "reveal"] },
    # JSON
    { mime = "application/{json,ndjson}", use = ["edit", "reveal"] },
    { mime = "*/javascript", use = ["edit", "reveal"] },
    # Empty file
    { mime = "inode/empty", use = ["edit", "reveal"] },
    # Fallback
    { name = "*", use = ["open", "reveal"] },
]
[plugin]
prepend_previewers = [
	# Archive previewer
	{ mime = "application/*zip",            run = "ouch" },
  { mime = "application/zip",            run = "ouch" },
	{ mime = "application/x-tar",           run = "ouch" },
	{ mime = "application/x-bzip2",         run = "ouch" },
	{ mime = "application/x-7z-compressed", run = "ouch" },
	{ mime = "application/x-rar",           run = "ouch" },
	{ mime = "application/x-xz",            run = "ouch" },

  { name = "*.md", run = "glow" },

  { mime = "audio/*",   run = "exifaudio"},
  
]

